name: Rust CI
on:
  push:
    branches: [ master, "version-0.13" ]
  pull_request:
    branches: [ master, "version-0.13" ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: ["1.62.0", stable, beta, nightly]
        features: ["", "std", "color_quant"]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true
    - name: build
      run: >
        cargo build --verbose --no-default-features --features "$FEATURES"
    - name: test
      run: >
        cargo test --tests --benches --no-default-features --features "$FEATURES"
      if: ${{ matrix.rust != '1.62.0' }}
      env:
        FEATURES: ${{ matrix.features }}
  rustfmt:
    runs-on: ubuntu-latest
    continue-on-error: false
    if: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: rustfmt
    - name: Run rustfmt check
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check

